# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/
*.egg

# Virtual environments
venv/
.env/
.venv/
env/

# IDEs and editors
.vscode/
.idea/

# Logs and caches
*.log
.cache/
.mypy_cache/
.pytest_cache/

# OS files
.DS_Store
Thumbs.db
